@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

html{
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* header */

.header{
    height: 80px;
    display: grid;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

.header .header__container{
    width:  100%;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container .header__content a h1{
    color:#000;
    font-size: 28px;
    font-weight: 700;
}

.header .header__container .header__content a h1 i{
    color: rgb(222, 91, 77);
    font-size: 25px;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
}

.header .header__container .header__content .header__menu ul li{
    margin: 0 15px;
    font-weight: 800;
    cursor: pointer;
}

.header .header__container .header__content .header__menu ul li:first-child{
    color: #fd5c63;
}

.header .header__container .header__content .header__menu ul li:hover{
    color: #fd5c63;
    transition: all 0.4s;
}

.header .header__container .header__content .header__item{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__item .fa-solid{
    font-size: 20px;
    margin: 0px 5px;
}

.header .header__container .header__content .header__item .header__icon .fa-magnifying-glass{
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius:50%;
    line-height: 40px;
    text-align: center;
}

/* header */
/* banner */
.banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.banner__conatiner{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
}

.banner .banner__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 3em;
    height: 100%;
    width: 100%;
}

.banner .banner__text h3{
    font-size: 50px;
}

.banner .banner__text h4{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 25px;
    margin: 20px 0;
}

.banner .banner__text a{
    padding: 15px 30px;
    border:2px solid #fff;
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    border-radius: 30px;
}

.banner .banner__image{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
}

.banner .banner__image .banner__img{
    height: 100%;
    width: 100%;
    background-image: url(./img/272760309_1379905722462973_522299067699054057_n.jpg);
    background-position: top center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner */

/* photo */
.photo{
    padding: 48px 0;
}


.photo .photo__container .photo__text{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.photo .photo__container .photo__text h3{
    font-size: 30px;
}

.photo .photo__container .photo__text p{
    font-size: 18px;
    color: rgb(90, 90, 90);
    padding: 20px 0;
}


.photo .photo__container .photo__image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 250px 250px;
}

.photo .photo__container .photo__image .photo__img .size{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.photo .photo__img:first-child{
    grid-row: 1/2;
}

    .photo .photo__img:nth-child(2){
        grid-row:1/3;
    }

.photo .photo__container .photo__image .photo__img img{
    display: block;
}

.photo .photo__container .photo__image .photo__img:hover img{
    transform: scale(1.1);
    transition: all 0.3s;
}

.photo .photo__container .photo__image .photo__img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.photo .photo__container .photo__image .photo__item{
    position: absolute;
    bottom: 0;
    padding: 50px;
}

.photo .photo__container .photo__image .photo__item h5{
    font-size: 25px;
    font-size: 600;
    color: #fff;
}

.photo .photo__container .photo__image .photo__background{
    background-color: #09090991;
    top: 0;
    right: 0;
    height: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0;
}

.photo .photo__container .photo__image .photo__img:hover .photo__background{
    opacity: 1;
}

.photo .photo__container .photo__image .photo__item p{
    color: rgb(221, 221, 221);
}

.photo .photo__container .photo__image .photo__item{
    transform: translateY(150px);
    transition: all 0.5s;
}

.photo .photo__container .photo__image .photo__img:hover .photo__item{
    transform: translateY(0px)
}

/* photo */

/* number */

.number{
    padding: 48px 0;
}

.number .number__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 50px;
}

.number .number__container .number__content i{
    color: #fd5c63;
    font-size: 40px;
}

.number .number__container .number__content h3{
    font-size: 35px;
    margin: 15px 0;
}

.number .number__container .number__content p{
    color: #3c3c3c;
    font-size: 20px;
}

/* number */

/* questions */

.questions{
    padding: 48px 0;
    background-color: #fbfbfb;
}

.questions .questions__container .questions__content{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.questions .questions__container .questions__content h2{
    font-size: 35px;
}


.questions .questions__container .questions__content p{
    font-size: 19px;
    margin: 15px 0;
    color: #3c3c3c;
}

.questions .questions__container .questions__all{
    display: flex;
    flex-wrap: wrap;
}

.questions .questions__container .questions__all .width{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 3rem;
}

.questions .questions__container .questions__all .questions__text ul li{
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.questions .questions__container .questions__all .questions__text ul h3{
    font-weight: 500;
    padding: 20px;
}

.questions .questions__container .questions__all .questions__text ul i{
    position: absolute;
    margin-top: 14px;
    right: 25px;
    top: 16px;
}

.questions .questions__container .questions__all .questions__loading .questions__item{
    margin-bottom: 30px;
}

.questions .questions__container .questions__all .questions__loading .questions__item h6{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.questions .questions__item h6{
    display: grid;
    grid-template-columns: 1fr auto;
}

.questions .questions__item .photography{
    width:  80%;
}

.questions .questions__scroll{
    height: 5px;
    width: 100%;
    background-color: rgb(222, 222, 222);
    position: relative;
}

.questions .questions__scroll .questions__color{
    height: 5px;
    position: absolute;
    border-radius: 10px;
}

.questions .questions__scroll .color1{
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
    width: 80%;
}

.questions .questions__scroll .color2{
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
    width: 95%;
}

.questions .questions__scroll .color3{
    color: #eece90;
    background-color: #d429d4;
    background-image: linear-gradient(-224deg, #c329d4, #3ea05d);
    width: 60%;
}

.questions .questions__scroll .color4{
    color: #eece90;
    background-color: #d429d4;
    background-image: linear-gradient(-224deg, #d46d29, #a03e56);
    width: 85%;
}

.questions .color1::before,.questions .color2::before,.questions .color3::before,.questions .color4::before{
    height: 6px;
    width: 6px;
    border: 3px solid rgb(163, 113, 113);
    position: absolute;
    content: "";
    border-radius: 50%;
    z-index: 1;
    background-color: #fff;
}

.questions .color1::after, .questions .color2::after, .questions .color3::after, .questions .color4::after{
    height: 20px;
    width: 20px;
    border: 1px solid rgb(128, 247, 249);
    position: absolute;
    content: "";
    border-radius: 50%;
    z-index: 1;
}

.questions .color1::before, .questions .color1::after,.questions .color2::before, .questions .color2::after, .questions .color3::before, .questions .color3::after,.questions .color4::before, .questions .color4::after{
    transform: translate(50%, -50%);
    top: 50%;
    right: 0%;
}

/* questions */

/* theo */


.anh{
    height: 200px;
    width: 200px;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.theo{
    padding: 48px 0;
}

.theo .theo__container{
    position: relative;
}

.theo .theo__container .theo__content{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    
}

.theo .theo__container .theo__content .theo__img .anh{
    padding: 4px;
}

.theo .theo__container .theo__content .theo__img img{
    margin: 0 auto;
    border-radius: 50%;
    border: 0;
    border: 3px solid #fd5c63
}

.theo .theo__container .theo__content h2{
    font-size: 35px;
}

.theo .theo__container .theo__content p{
    font-size: 20px;
    color: rgb(144, 144, 144);
    margin: 40px 0;
}


.theo .theo__container .theo__content h3{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 500;
}

.theo .theo__container .theo__content h4{
    font-weight: 400;
    margin-top: 10px;
}

.theo .theo__container .theo__image1{
    position: absolute;
    left: 0;
    top: 50%;
}

/* theo */
/* looking */
.looking{
    padding: 86px 0;
    background-color: #000;
    color: #fff;}

.looking .looking__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.looking .looking__container h3{
    font-size: 30px;
}

.looking .looking__container a{
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
    border: 1px solid #fff;
    margin-left: 20px;
    display: inline;
}

/* looking */

/* blog */

.alt{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog{
    padding: 48px 0;
}

.blog .blog__container .blog__content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 48px 0;
}

.blog .blog__container .blog__content h2{
    font-size: 30px;
}

.blog .blog__container .blog__content p{
    font-size: 19px;
    color: rgb(150, 150, 150);
}

.blog .blog__item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.blog .blog__item .blog__layout{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.blog .blog__item .blog__layout .blog__icon{
    background-color: #fff;
    box-shadow: 10px 8px 8px -15px #000;
    border: 1px solid rgb(242, 242, 242);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.3s linear;
}

.blog .blog__item .blog__layout:hover .blog__icon{
    box-shadow: 0px 17px 26px -16px rgb(0 0 0 / 41%);
}

.blog .blog__item .blog__layout .blog__icon .blog__text{
    padding: 25px;
}

.blog   .blog__all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog   .blog__all a{
    display: flex !important;

}

.blog   .blog__all .link{
    align-items: center !important;
}

.logow3{
    width: 40px;
    height: 40px;
    padding: 3px;
}

.blog   .blog__all a img{
    border: 1px solid rgb(229, 7, 7);
    border-radius: 50%;
}

.blog   .blog__all a span{
    margin-left: 10px;
}

.color{
    color: #9a9a9a;
    font-size: 15px;
}

.blog .blog__item .blog__layout .blog__icon .blog__text p{
    font-size: 17px;
    color: #5f5f5f;
    margin: 10px 0;
}

.blog .blog__item .blog__layout .blog__icon .blog__text h3{
    font-size: 20px;
}

/* blog

/* footer */

.footer{
    background: rgb(0, 0, 0);
    padding: 48px 0;
}

.footer .footer__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer .footer__content h5{
    font-size: 40px;
    color: #ffc845;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.footer .footer__content .footer__icon{
    display: flex;
}

.footer .footer__content .footer__icon i{
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
}


.footer .footer__text{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__texts{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    color: #fff;
}

.ill{
    width: 50%;
}

.footer .footer__texts h5{
    font-size: 20px;
    margin-bottom: 25px;
}

.footer .footer__texts h5 a{
    color: #ffc845;
    font-size: 25px;
}

.footer .footer__texts form{
    display: flex;
}


.footer .footer__texts form input{
    height: 45px;
    width: 80%;
    outline: none;
    padding:0 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
}

.footer .footer__texts form button{
    height:45px;
    width: 20%;
    border: none;
    background-color: #ffc845;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer .footer__texts p{
    margin-top: 20px;
}


.footer .footer__copyright p{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.footer .footer__copyright a{
    color: #d45529;
    font-weight: 600;
}


.header .header__container .header__content .header__menutablet{
    display: none;
}




/* footer */


