.container{
    max-width: 380px;
}

.banner__conatiner{
    display: none;
}

.banner .banner__image{
    width: 100%;
    background-position: top center;
}

.photo .photo__container .photo__text{
    width: 100%;
}

.photo .photo__container .photo__image{
    grid-template-columns: 1fr;
    grid-gap: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.number .number__container{
    display: flex;
    flex-wrap: wrap;
}

.number .number__container .number__content{
    padding-top: 30px;
    flex: 0 0 50%;
    max-width: 50%;
}

.questions .questions__container .questions__content{
    width: 100%;
}

.questions .questions__container .questions__all .width{
    padding-top: 30px;
}

.looking .looking__container a{
    margin: 20px 0px 0px 0px;
    
}

.blog .blog__item .blog__layout:last-child{
    margin-top: 0px;
}

.blog .blog__item .blog__layout{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.footer .footer__texts{
    flex: 0 0 100%;
    max-width: 100%;
}

.header .header__container .header__menu#menu{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: antiquewhite;
    width: 70%;
    transform: translateX(-150%);
}

.header .header__container .header__menu#menu ul{
    display: block;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}

.header .header__container .header__menu#menu ul li{
    margin: 20px 0px;
}

.header .header__container .header__menu#menu