.container{
    max-width: 700px;
}

.header .header__container .header__content .header__menu{
    display: none;
}

.header .header__container .header__content .header__menutablet{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(233, 62, 62);
    margin-left: 10px;
}

.banner__conatiner{
    width: 45%;
}

.banner .banner__image{
    width: 55%;
}

.banner .banner__text{
    padding: 12px;
}

.photo .photo__container .photo__image{
    grid-template-columns: 1fr 1fr;
}

.number .number__container{
    padding: 0px;
}

.questions .questions__container .questions__all .width{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
}

.theo .theo__container .theo__content{
    width: 100%;
}

.blog .blog__item{
    justify-content: center !important;
}

.blog .blog__item .blog__layout{
    flex: 50%;
    max-width: 50%;
}

.blog .blog__item .blog__layout:last-child{
    margin-top: 30px;
}

.footer .footer__texts{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__text{
    justify-content: right;
}